*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
#div1{
	width: 100%;
	height: 110px;
}
#div2{
	width: 100%;
	height: 590px;
}
#div3{
	width: 100%;
	height: 180px;
}
.zhong{
	position: relative;
	width: 1200px;
	margin: 0 auto;
}
#div1 .logo{
	width: 80px;
	height: 100px;
}
#div1 .logo img{
	width: 55px;
	height: 55px;
	margin: 25px 0;
}
#div1 .tou,.logo{
	float: left;
}
#div1 .tou .p1{
	letter-spacing: 3px;
	margin-top: 17px;
	color: #323232;
	font-size: 36px;
}
#div1 .tou .p2{
	color: #808080;
	font-size: 12px;
}


#div2 #zuo .span1{
	font-size: 26px;
}
#div2 #zuo .span2{
	position: relative;
	left: 7px;
	top: -4px;
	letter-spacing: -1px;
	font-size: 12px;
	padding: 0 5px;
	border: 1px solid #2D7CFF;
	border-radius: 5px;
}
#div2 #zuo .span3{
	position: relative;
	top: -2px;
	left: 8px;
	margin: 0 15px;
	border-right: 0.1px solid #2D7CFF;
}
#div2 #zuo img{
	position: absolute;
}
#div2 #you{
	position: relative;
	left: 780px;
	top: 40px;
	background: white;
	width: 380px;
	height: 500px;
}
#zhang span{
	font-size: 24px;
	position: relative;
	top: 20px;
	left: 40px;
	margin: 0 15px;
}
#zhang .span1{
	color: red;
	cursor: pointer;
}

#zhang1 input{
	position: relative;
	width: 300px;
	height: 50px;
	left: 30px;
	top: 35px;
	padding: 0 8px;
	margin-top: 20px;
	font-size: 16px;
	border: 1px solid #ddd;
}
#deng{
	position: absolute;
	top: 230px;
	left: 30px;
	height: 50px;
	width: 318px;
	background: #f56600;
}
#deng a{
	font-size: 18px;
	color: white;
	line-height: 50px;
	margin: 0 118px;
}
#zhang1 #wang{
	width: 180px;
	position: relative;
	top: 110px;
	left: 98px;
}
#wang span,#wang a{
	font-size: 14px;
	color: #9a9899;
}
#wang a:hover{
	color: #FF6700;
}
#wang .span2{
	margin: 0 5px;
}
#zhang2{
	position: absolute;
	top: 400px;
	left: 40px;
}
#zhang2 p{
	display: inline-block;
	color: #bbb;
	font-size: 14px;
}
#zhang2 .p1{
	position: relative;
	top: -5px;
	width: 100px;
	height: 0px;
	border-bottom: 1px solid #bbb;
}
#zhang3{
	position: absolute;
	top: 440px;
	left: 110px;
}
#zhang3 img{
	width: 23px;
	margin: 0 15px;
}
#div2 #you2{
	position: absolute;
	top: 80px;
	right: 40px;
}
#div2 #you2 img{
	width: 300px;
}
.xia1{
	position: relative;
	top: 50px;
	left: 400px;
}
.xia2{
	position: relative;
	top: 60px;
	left: 280px;
}
.xia1,.xia2{
	font-size: 14px;
	color: #888;
}
.xia1 span{
	margin: 0 10px;
}
.xia1 span:hover,.xia2 span:hover{
	color: #FF6700;
}

#you1{
	opacity: 1;
	filter: alpha(opacity=100);
}
#you2{
	opacity: 0;
	filter: alpha(opacity=0);
}

.zuoa{
	opacity: 0;
	filter: alpha(opacity=0);
}
.zi{
	z-index: 1;
	position: relative;
	top: 150px;
}
